<head>
    <title>trah</title>
</head>

<div class="flex flex-1 h-screen">
    <div class="w-full" id="allMails">
        <div class="inbox-head">
            <div>
                <h3 class="text-primary text-xl bold">Trash</h3>
                <p class="text-second text-sm">{{mails.length}} Messages</p>
            </div>
        </div>
        <div class="mail-option">
            <div class="chk-all">
                <input type="checkbox" class="mail-checkbox mail-group-checkbox" id="checkAll">
                <div class="btn-group">
                    <a data-toggle="dropdown" id="checkAll" href="#" class="btn mini all" aria-expanded="false">
                        <i class="fa fa-angle-down "></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li id="checkAll1"><a href="#"> All</a></li>
                        <li id="checkNone"><a href="#"> None</a></li>
                        <li id="checkRead"><a href="#"> Read</a></li>
                        <li id="checkUnread"><a href="#"> Unread</a></li>
                    </ul>
                </div>
            </div>
            <div class="btn-group hidden-phone">
                <a data-toggle="dropdown" href="#" class="btn mini blue" aria-expanded="false">
                    More
                    <i class="fa fa-angle-down "></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="markRead"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                    <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                    <li class="divider"></li>
                    <li><a href="#" class="deleteBtn"><i class="fa fa-trash-o"></i> Delete</a></li>
                </ul>
            </div>
            <div class="btn-group deletebtn"></div>
        </div>
        <div class="inbox-body flex-1 overflow-y">
            <div id="mailList">
                {{#if (ifeq mails.length 0)}}
                    <div class="loader_container">
                        <img src="/img/nomail.jpg" />
                        <h4 class="text-second my-3">No draft found associated with your account.</h4 class="text-second">
                    </div>
                {{else}}
                    {{#each mails}}
                    <div class="bg-theme w-full flex rounded-base relative mail-item cursor-pointer my-1" id={{_id}}>
                        <div class="flex ml-2 my-2 align-start" data-tooltip="Select">
                            <input type="checkbox" class="mail-checkbox" id="checkMail-{{_id}}" name="checkMail">
                        </div>
                        <div class="py-2 mx-2 flex w-full"> 
                            <img class="w-base h-base rounded-full mr-2 my-1" src="{{sender.avatar}}" />
                            <div>
                                <p class="m-0 p-0 text-base text-second">{{sender.name}}</p>
                                <h4 class="m-0 p-0 text-lg text-second">{{truncateString subject 80}}</h4>
                                <p class="m-0 p-0 text-sm text-second">
                                    {{truncateString message 250}}
                                </p>
                            </div>
                            <div class="mail-date text-second text-sm italic flex-1 justify-end absolute" style="right: 15px">{{date}}</div>

                        </div>
                        <div class="text-second absolute mail-icon align-center" style="top: 10px; right: 15px">
                            <div class="mr-2">
                                <div class="remove-delete-mail" id="removeDelete-{{_id}}" role="button"><i class="fa fa-trash-restore"></i></div>
                            </div>
                            <div class="mr-2">
                                <div class="delete-mail" id="delete-{{_id}}"><i class="fa fa-trash-o" id="hi"></i></div>
                            </div>
                        </div>
                    </div>                  
                    {{/each}}
                {{/if}}
            </div>
        </div>
    </div>
    <div id="detailMail" class="flex-1 h-full"></div>
   
</div>

</body>
<script>
    function changeActive(id) {
        var items = document.getElementById(id);
            
        const isRead = true
        $.post('/updateData', { isRead })
        .done(function(response) {
          // Xử lý kết quả từ server
          alert(response.message);
        })
        .fail(function(error) {
          console.error('Lỗi khi cập nhật dữ liệu: ', error);
        });
    }
    
</script>

